featurecloud
bottle
bios
numpy
pyyaml
pandas==1.5.1            # Using a newer Pandas will result in a runtime error while training
scikit-learn
bottle_cors_plugin

torchvision
torch-geometric
torch-scatter
torch-sparse